body {
    margin: 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.resultContainer {
    margin-top: 38px;
}

.generateTable {
    margin-top: 16px;
}

.input-group{
    margin-top: 8px;
}

#table {
    margin-top: 16px;
}

h1{
    font-weight: bolder;
    color: rgb(112, 112, 112);
}

h4 {
    margin-top: 48px;
    color: darkgray;
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 38px;
    font-weight: bolder;
    color: rgb(90, 113, 128);
}

.result {
    margin-top: 12px;
    visibility: hidden;
}

#knapsackTable{
    font-weight: bold;
    color: rgb(90, 113, 128);
}